/* src/App.css */
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
}

.enter-slideshow-button {
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #111111;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 50px;
    border-radius: 50px;
}

.enter-slideshow-button:hover {
    background-color: #222222;
}
